{% extends "layout.html" %}
{% block content %}
<div class="container">

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link {% if action == 'hide' %}active{% endif %}" id="encode-tab" data-toggle="tab" href="#encode" role="tab" aria-controls="encode" {% if action == 'hide' %}aria-selected="true"{% else %}aria-selected="false"{% endif %}>Encode</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if action == 'reveal' %}active{% endif %}" id="decode-tab" data-toggle="tab" href="#decode" role="tab" aria-controls="decode" {% if action == 'reveal' %}aria-selected="true"{% else %}aria-selected="false"{% endif %}>Decode</a>
        </li>
    </ul>

    <div id="my-tab-content" class="tab-content">
        <div class="tab-pane {% if action == 'hide' %}show active{% endif %}" id="encode">
            <div>
                <h2>Encode message</h2>
                <form id="hide" class="form" method="POST" action="/?action=hide" enctype="multipart/form-data">
                    <div class="form-group">
                        <input class="form-control" type="file" name="file">
                    </div>

                    <div class="form-group">
                        <textarea class="form-control message" rows="3" name="secret" placeholder="Enter your message here"></textarea>
                    </div>

                    <div class="form-group">
                        <button class="encode btn btn-default pull-right">Encode</button>
                    </div>
                </form>
                <div class="clearfix"></div>
            </div>

            <div class="error" style="display: none;"></div>
            <div class="binary" style="display: none;">
                <h3>Binary representation of your message</h3>
                <textarea class="form-control message" style="word-wrap:break-word;">
                </textarea>
            </div>
            <div class="images">
                <div class="message">
                    {% if image %}<h3>Message hidden in image (right click <span class="glyphicon glyphicon-arrow-right"></span> save as)</h3>
                    <img id="ItemPreview" src="data:image/png;base64,{{ image }}" />{% endif %}
                </div>
            </div>
        </div>

        <div class="tab-pane {% if action == 'reveal' %}show active{% endif %}" id="decode">
            <div>
                <h2>Decode image</h2>
                <form id=reveal class="form" method="POST" action="/?action=reveal" enctype="multipart/form-data">
                    <div class="form-group">
                        <input class="form-control" type="file" name="file" />
                    </div>
                    <div class="form-group">
                        <button class="decode btn btn-default pull-right">Decode</button>
                    </div>
                </form>
                <div class="clearfix"></div>
            </div>
            {% if message %}<div class="binary-decode">
                <h3>Hidden message</h3>
                <div class="card">
                    <div class="card-body">
                        {{ message }}
                    </div>
                </div>
            </div>{% endif %}
        </div>
    </div>



</div>

    {% endblock %}
