html {
    position: relative;
    min-height: 100%;
}
body {
    background-color: rgb(246, 248, 250);
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.navbar a {
    color: white;
}
.navbar-brand a {
    color: white;
}
.footer a {
    color: white;
}
/* Sticky footer */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: auto;
  line-height: auto; /* Vertically center the text there */
  color: #e6e6e6;
  background-color: rgb(107, 91, 149);
}
.footer a{
    color: #FFFFFF;
    text-decoration-line: underline;
}

/* Fix the overlapping problem of file inputs with Firefox */
.form-control {
    height: auto;
}
